@import url(./global.css);

body{
    background-color: var(--color-neutral-white);
    font-family: "Poppins", sans-serif;
}

/*--------Header--------*/

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 100px 30px 54px;
}

.header-links ul{
    display: flex;
    list-style: none;
    gap: 75px;
}

.header-links a{
    text-decoration: none;
    color: var(--color-neutral-black);
    font-size: var(--paragraph4);
    font-weight: var(--paragraph4-weight);
}

.button-header{
    display: flex;
    gap: 45px;
    align-items: center;
}

/*--------Header--------*/

/*--------Main--------*/
main{
    display: flex;
    width: 100%px;
    height: 716px; 
    background-image: url(../assets/images/Main-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: end;

}

.main-golden-box{
    display: flex;
    flex-direction: column;
    width: 643px;
    height: 443px;
    padding: 62px 43px 37px 39px;
    background-color: var(--color-off-white-main);
    gap: 17px;
    border-radius: 10px;
    margin-right: 58px;
    /* position: absolute;
    top: 200px;
    right: 58px; */
}

.main-golden-box p{
    font-size: var(--paragraph4);
    font-weight: 600;
    color: var(--color-text-gray);
    width: 500px;
}

.main-golden-box h1{
    font-size: var(--headline1);
    font-weight: var(--headline1-weight);
    color: var(--color-primary-gold);
    line-height: 1.1;
}

.main-golden-box button{
    width: 222px;
    height: 74px;
    padding: 25px 72px;
    background-color: var(--color-primary-gold);
    margin-top: 30px;
    cursor: pointer;
}

.main-golden-box a{
    text-decoration: none;
    color: var(--color-neutral-white);
    font-size: var(--paragraph4);
    font-weight: var(--headline1-weight);
}
/*--------Main--------*/

/*--------Browse--------*/
section{
    margin-top: 76px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.browse-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.browse-text h2{
    color: var(--color-text-gray);
    font-size: var(--headline3);
    font-weight: var(--headline3-weight);
}

.browse-text p{
    color: var(--color-text-grayish);
    font-size: var(--paragraph2);
    font-weight: var(--paragraph2-weight);
}

.browse-img-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.browse-img{
    display: flex;
    gap: 20px;
}

.img-text{
    display: flex;
    justify-content: center;
    gap: 326px;
}

.img-text p{
    color: var(--color-text-grayish);
    font-size: var(--paragraph3);
    font-weight: var(--paragraph3-weight);
}
/*--------Browse--------*/

/*--------Products--------*/
.products-container h2{
    font-size: var(--headline2);
    color: var(--color-gray-tint);
}

.products-container button{
    background-color: transparent;
    border: 1px solid var(--color-primary-gold);
    color: var(--color-primary-gold);
    width: 245px;
    height: 48px;
    padding: 12px 74px 12px 82px;
    cursor: pointer;
    font-size: var(--paragraph4);
    font-weight: 700;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 62px 32px;
}

.product-card{
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 16px;
    background-color: var(--color-lightgray-tint);
}

.img-discount{    
    position: absolute; 
    right: 8%;  
    top: 4%; 
}

.card-text{
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: var(--color-gray-tint);   
    padding-left: 16px;
    padding-bottom: 30px; 
}

.card-text h3{
    font-size: var(--paragraph3);
    font-weight: var(--paragraph3-weight);
}

.card-text p{
    color: var(--color-fade-dark-gray);
    font-size: var(--paragraph4);
    font-weight: 500;
}

.card-price{
    display: flex;
    gap: 16px;
    align-items: center;
}

.card-price p:nth-of-type(1){
    font-size: var(--paragraph2);
    font-weight: var(--paragraph3-weight);
    color: var(--color-gray-tint);
}

.card-price p:nth-of-type(2){
    color: var(--color-fade-gray);
    text-decoration: line-through;
    font-size: var(--paragraph4);
}



/*--------Products--------*/
